.projects_container {
  display: grid;
  gap: 30px;
}

.project{
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 3fr;
  gap: 15px;
}

.project_cover {
  width: 100%;
  aspect-ratio: 9 / 16;

  background-color: #e4e4e4;
}

.project_details {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 20px 0;
}

.project_details_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;

  height: 100%;
  align-items: end;
}